/*Flexbox Container*/
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5px;
  line-height: 1.6em;
  margin: 0 16.5%;
}

img {
  border: .5px solid bl;
  border-radius: 2px;
  max-width: 100%;
}

/*Flexbox Container1 Inside of Body*/
.header {
  display: inline-block;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  border-bottom: solid blue .15px;
  width: 100%;
  padding: 0 0% 0% 0%;
}

.header img {
  border: none;
}

h2 {
  font-size: 1.5em;
  color: yellow;
}

.h2 {
  display: flex;
  margin: 0 0 .3em .15em;
  min-width: 16.5%;
}

/*Item inside Header Inside Body*/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 33%;
}

nav a {
  color: red;
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
  border-radius: 5px;
}

nav a:hover {
  background-color: red;
  color: blue;
  border: solid .25px yellow;
  filter: drop-shadow(3px 3px 10px yellow);
  text-transform: uppercase;
}

/*Flexbox Container2 Inside of Body*/
.about {
  display: flex;
  flex-direction: row;
  padding: 2% 5% 2% 5%;
  max-width: 100%;
}

.about p {
  flex-basis: auto;
  line-height: 25px;
  margin-bottom: 1em ;
  color: blue;
  max-width: 100%;
}

.about img {
  flex-basis: auto;
  float: right;
  margin: 7px 0 5px 5px;
  overflow: hidden;
  white-space: nowrap;
  object-fit: contain;
  max-width: 200px;
  border-radius: 2px;
}

/*Flexbox Container3 Inside of Body*/
.projects {
  display: flex;
  justify-content: space-between;
  color: blue;
  text-align: left;
  align-items: left;
  padding: 2% 5% 2% 5%;
  max-width: 100%;
}

.project-container a {
  overflow: hidden;
  white-space: nowrap;
  object-fit: scale-down;
  opacity: 0.8;
  margin: 5px;
}

.project-container a:hover {
  filter: drop-shadow(5px 3px 10px red);
  opacity: 1;
}

.tile {
  position: relative;
  object-fit: contain;
  flex: 0 1 auto;
}

.tile p {
  position: absolute;
  bottom: 20px;
  left: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: yellow;
  color: blue;
  padding: .5em 1em;
  border-radius: 0 5px 5px 0;
  white-space: nowrap;
  overflow: hidden;
}

.tile p span {
  font-size: 70%;
}

.tile .preview-lg {
  flex: 1 1 780px;
  height: 350px;
  width: 780px;
}


/*Flexbox Container4 Inside of Body*/
.footer {
  display: inline-block;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  color: blue;
  padding: 2% 0 2% 0;
  width: 100%;
}

.contact-container {
  border-top: solid blue .15px;
  border-bottom: solid blue .15px;
  padding: 2% 0 2% 0;
  width: 100%;
}

/* Font awesome icons */
.fa {
  text-align: center;
  text-decoration: none;
  font-size: 16em;
  margin: 2%;
  width: 4%;
}

.fa:hover {
  color: yellow;
}

/* LinkedIn */
.fa-linkedin {
  position: relative;
  color: blue;
}

/* GitHub */
.fa-github {
  position: relative;
  color: blue;
}

/* Email */
.fa-envelope {
  position: relative;
  color: blue;
}

.footer p {
  margin-top: 10px;
  color: red;
  line-height: 20px;
}

/*Works*/
@media screen and (max-width: 1446px) {
  body {
    margin: 0 8%;
  }
}
/*Works*/
@media screen and (max-width: 1173px) {
  body {
    margin: 0 2%;
  }
}
/*Works*/
@media screen and (max-width: 1012px) {

  .about{
    flex-direction: column;
    padding: 2% 2% 2% 2%;
  }

  .projects {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    padding: 2% 2% 2% 2%;
  }

  .h2 {
    display: inline-block;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    padding: 2% 0 2% 0;
    width: 100%;
  }
}